<!DOCTYPE HTML>
<html ng-app="lang">
<head>
    <title>
        Sean's Spiffy Language Learner
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="./node_modules/angular-material/angular-material.min.css">

    <script type="text/javascript" src="./node_modules/angular/angular.min.js"></script>

    <script type="text/javascript" src="./node_modules/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="./node_modules/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="./node_modules/angular-material/angular-material.min.js"></script>

    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="./js/sharedProps.js"></script>
    <script type="text/javascript" src="./js/endingCtrl.js"></script>

</head>

<body ng-controller="pageCtrl as page">
    <div id= "nav-bar">        
        <md-nav-bar  
        md-selected-nav-item="currentNavItem"
        nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="page.changePage('home')" name="HomeTab">
                Home
            </md-nav-item>
            <md-nav-item md-nav-click="page.changePage('russian')" name="RussianTab">
                Русский
            </md-nav-item>
            <md-nav-item md-nav-click="page.changePage('japanese')" name="JapaneseTab">
                日本語
            </md-nav-item>
            <md-nav-item md-nav-click="page.changePage('spanish')" name="SpanishTab">
                Espanol
            </md-nav-item>
            <md-nav-item md-nav-click="page.changePage('about')" name="aboutTab">
                About
            </md-nav-item>
        </md-nav-bar>
    </div>
    <div ng-if="page.currPage=='home'">
        Welcome to the home page of my application!

        <br><br>
        The goal of this language application is to incrementally add features which I find useful in language learning, which I hope will provide some use to other people down the road.
        <br><br>

        Feel free to fork on https://github.com/solejar/languages.git

    </div>
    <div ng-if="page.currPage=='russian'">
        You are on the Russian page!
        <div ng-controller="endingCtrl as ending">
            <md-input-container>
                <label>Preposition</label>
                <md-select ng-model="ending.currPrep">
                    <md-option ng-repeat="prep in ending.prepositions" ng-value="prep">
                    {{prep}}
                    </md-option>
                </md-select>
            </md-input-container>            
            <md-input-container>
                <label>
                Adjective
                </label>
                <input ng-mode="ending.currAdj">
            </md-input-container>
            <md-input-container>
                <label>
                Noun
                </label>
                <input ng-mode="ending.currNoun">
            </md-input-container>
            <md-input-container>
                <label>Case</label>
                <md-select ng-model="ending.currCase">
                    <md-option ng-repeat="case in ending.getCases(ending.currPrep)" ng-value="case">
                    {{case}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container ng-if="ending.currCase=='внительный'" >
                <label>Animate</label>
                <md-select ng-model="ending.currAnimate">
                    <md-option ng-repeat="state in ending.animate"  ng-value="state">
                    {{state}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container >
                <label>Gender</label>
                <md-select ng-model="ending.currGender">
                    <md-option ng-repeat="gender in ending.genders" ng-value="gender">
                    {{gender}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Plurality</label>
                <md-select ng-model="ending.currPlurality">
                    <md-option ng-repeat="plurality in ending.pluralities" ng-value="plurality">
                    {{plurality}}
                    </md-option>
                </md-select>
            </md-input-container>    
            
            <div ng-if="ending.currAdjGender">{{ending.getEndings(ending.currPoS,ending.currType,ending.currCase,ending.currAnimate,ending.currAdjGender)}}
            </div>


            
                    
        </div>
        
    </div>
    <div ng-if="page.currPage=='japanese'">
        You are on the Japanese page! This page is still under development. Come back later for more :3
    </div>
    <div ng-if="page.currPage=='spanish'">
        You are on the Spanish page! This page is still under development. Come back later for more :3
    </div>
    <div ng-if="page.currPage=='about'">
        You are on the about page! This page is still under development. Come back later for more :3
    </div>
    
</body>
</html>
