.background {
    background-color: #CCFFFF;
}
.plain {
    background-color: #FAFAFA;
    color: black;
}
.card {
    background-color: #FFFFB3;
    color: black;
    height: 300px;
}
.subcontent{
    background-color: #d1d194;
    color: black;
}
.secondary {
    background-color: #3F51B5;
    color: white;
}
.small-button {
    /*width: 30px;*/
    text-align: center;
    min-width: 36px;
}
.again {
    background-color: #ba190b;
}
.hard {
    background-color: #e8807a;
}
.good {
    background-color: #e2df6f;
}
.easy {
    background-color: #7fd847;
}
